@(name : String, crewMembersSize : Integer, crewMembers : List[String], kitten : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Too Much Trying to go East</h1>
<img src="assets/images/@kitten" height="150">
<p>You should have paid more attention to your intuition.
    You run ashore while trying to turn around in the latest dead end bay.
    While trying to patch up the ship you and your crew are almost eaten by a rampaging herd of feral kittens.
    The kittens destroy what remains of your ship.  A passing Viking Cruise ship picks you up and takes you back to port in disgrace.
    Thus ends your jounry, @name. You can play again if you want.
    Healthy crew members left: @crewMembersSize
    <br>
    List of remaining crew members: <br>
    @crewMembers
</p>
<br>

<img src="assets/images/eastend.jpg" height="200">
<form action="@routes.GameController.getWelcome" method="POST">
    @CSRF.formField
    <input type="submit" value="New Character"/>
</form>
<form action="@routes.GameController.getStart" method="GET">
    @CSRF.formField
    <input type="submit" value="Play Again"/>
</form>

</body>
</html>
