@(name : String, crewMembersSize : Integer, crewMembers : List[String], kitten : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Shame</h1>
<img src="assets/images/@kitten" height="150">
<p>Wow, @name. You are back at home port with nothing to show for it.
    I'm quite impressed. Better get going before someone notices.
    Healthy crew members left: @crewMembersSize
    <br>
    List of remaining crew members: <br>
    @crewMembers

</p>
<br>

<img src="assets/images/homeport.jpg" height="200">
<form action="@routes.GameController.postWestFromEngland" method="POST">
    @CSRF.formField
    <input type="submit" value="Sail West"/>
</form>
<form action="@routes.GameController.postNorthFromEngland" method="POST">
    @CSRF.formField
    <input type="submit" value="Sail North"/>
</form>
<form action="@routes.GameController.postEastFromEngland" method="POST">
    @CSRF.formField
    <input type="submit" value="Sail East"/>
</form>
</body>
</html>