@(name : String, crewMembersSize : Integer, crewMembers : List[String])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>A Special Encounter</h1>
<p>
    You sailed north, and there are tons of icebergs around here. It's looking pretty dangerous.
    Wait, what's that? Something is coming from the sky. Its very red. OMG! IT'S SANTA CLAUSE!
    Santa gives you 1029485710945 more fidget spinners, and you make enough money to retire forever.
    You spin happily ever after. The end.
    Healthy crew members left: @crewMembersSize
    <br>
    List of remaining crew members: <br>
    @crewMembers
</p>
<br>
<img src="assets/images/meetingwithsanta.jpg" height="200">
<p>

</p>
<form action="@routes.GameController.getWelcome" method="POST">
    @CSRF.formField
    <input type="submit" value="New Character"/>
</form>
<form action="@routes.GameController.getStart" method="GET">
    @CSRF.formField
    <input type="submit" value="Play Again"/>
</form>
</body>
</html>
