@(name : String, crewMembersSize : Integer, crewMembers : List[String])
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Too Much Ice</h1>
<p>You should have known if it was that easy someone would have done it already.
    Your ship is hit by an iceberg.
    You and your crew fall into the sea and are attacked by giant coelacanths.
    Lucky for you a passing catfish chases away the coelacanths.
    You are all able to swim to the shore of a frozen island where you find nothing to eat but lettuce.
    Years later you are rescued by a ship named Titanic on its way to the New World.
    And thus, @name, your story ends. Maybe you'd like to try again? I doubt it.
    Healthy crew members left: @crewMembersSize
    <br>
    List of remaining crew members: <br>
    @crewMembers
</p>
<img src="assets/images/northfromengland.png" height="200">
<form action="@routes.GameController.getWelcome" method="POST">
    @CSRF.formField
    <input type="submit" value="New Character"/>
</form>
<form action="@routes.GameController.getStart" method="GET">
    @CSRF.formField
    <input type="submit" value="Play Again"/>
</form>

</body>
</html>
