<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Northwest Passage</h1>
<h2>A Game of Cunning and Skill</h2>
<p>
    This game is meant to be played by only the most skilled gamers.  Play at your own risk!
</p>
<br>

<img src="assets/images/welcome.png" height="200">

<form action="@routes.GameController.postStart" method="POST">
    @CSRF.formField
    Enter your name:
    <input type="text" name="name"/>
    <br>
    Pick an avatar:
    <br>
    <input type="radio" name="kitten" value="kitten1"/>
    <img src="assets/images/kitten1.jpg" height="200">
    <br>
    <input type="radio" name="kitten" value="kitten2"/>
    <img src="assets/images/kitten2.jpg" height="200">
    <br>
    <input type="radio" name="kitten" value="kitten3"/>
    <img src="assets/images/kitten3.jpg" height="200">
    <br>
    <input type="radio" name="kitten" value="kitten4"/>
    <img src="assets/images/kitten4.jpg" height="200">
    <br>
    <input type="submit" value="Let's Do This!"/>
</form>
<form action="@routes.GameController.getKittens" method="GET">
    @CSRF.formField
    <input type="submit" value="Kittens"/>
</form>
</body>
</html>