@(name : String, crewMembersSize : Integer, crewMembers : List[String], kitten : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>You won! Sort of...</h1>
<img src="assets/images/@kitten" height="150">
<p>You, @name, reach China and load up on fidget spinners.
    When you get back to England the Queen discovered that the fidget spinners were covered in lead paint.
    She scolds you and throws you in the Tower of London to think about your negligence until you wither away into
    a shell of the man you once were. The end.

    Healthy crew members left: @crewMembersSize
    <br>
    List of remaining crew members: <br>
    @crewMembers

</p>
<br>
<img src="assets/images/westendleadpaint.jpg" height="200">

<form action="@routes.GameController.getWelcome" method="POST">
    @CSRF.formField
    <input type="submit" value="New Character"/>
</form>
<form action="@routes.GameController.getStart" method="GET">
    @CSRF.formField
    <input type="submit" value="Play Again"/>
</form>
</body>
</html>
